<ion-view title="Fast Pro Apps" hide-nav-bar="true" id="page1" style="background-color: rgb(19, 20, 24);">
  <ion-content padding="true" class=" manual-remove-top-padding">
    <div class="spacer" style="width: 283px; height: 20px;"></div>
    <div id="fastProApps-button-bar1" class="button-bar">
      <button id="fastProApps-button5" class="button button-assertive button-small button-block button-outline">ALL</button>
      <a ui-sref="newApps" id="fastProApps-button7" class="button button-dark button-small button-block">NEW</a>
    </div>
    <a ui-sref="page" id="fastProApps-button9" class="button button-positive  button-block"></a>
    <div class="list card" id="fastProApps-card21">
      <ion-item class="item-thumbnail-left item-icon-right positive" id="fastProApps-list-item3" style="">
        <img src="img/KU6QAnphRN2BOx3YIdmt_dfas.png">
        <h2positive>Dark Wallpapers
          <p style="white-space:normal;">best hd Dark wallpapers</p>
          <i class="icon ion-images icon-accessory"></i>
        </h2positive>
      </ion-item>
      <div class=" item item-image">
        <img src="img/3eJ9rEdeQOiBW4dHdOs9_1024x500.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div style="margin-right:-20px;">
        <a ui-sref="newApps" id="fastProApps-button1" style="left:-10px;" class="button button-assertive button-small button-full icon ion-arrow-down-a"> Install App</a>
      </div>
    </div>
    <div class="list card" id="fastProApps-card22">
      <ion-item class="item-thumbnail-left item-icon-right energized" id="fastProApps-list-item4" style="">
        <img src="img/RCoKkDBRxWxGENJPOVGw_512.png">
        <h2energized>Nature Wallpapers
          <p style="white-space:normal;">best hd nature wallpapers</p>
          <i class="icon ion-images icon-accessory"></i>
        </h2energized>
      </ion-item>
      <div class=" item item-image">
        <img src="img/eG7oWGQiSAybUaotnAPt_1024.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div style="margin-right:-20px;">
        <button id="fastProApps-button8" style="left:-10px;" class="button button-balanced button-small button-full icon ion-android-playstore"> Install App</button>
      </div>
    </div>
  </ion-content>
</ion-view>