<ion-view title="New Apps" hide-nav-bar="true" id="page2" style="background-color: rgb(19, 20, 24);">
  <ion-content padding="true" class=" manual-remove-top-padding">
    <div class="spacer" style="height: 20px;"></div>
    <div id="newApps-button-bar2" class="button-bar">
      <a ui-sref="fastProApps" id="newApps-button11" class="button button-dark button-small button-block">All</a>
      <button id="newApps-button13" class="button button-assertive button-small button-block button-outline">New</button>
    </div>
  </ion-content>
</ion-view>