<ion-view title="Page" hide-nav-bar="true" id="page3" style="background-color: rgb(21, 21, 21);">
  <ion-content padding="false" class="manual-ios-statusbar-padding">
    <div class="spacer" style="width: 303px; height: 11px;"></div>
    <h1 id="page-heading2" style="color: rgb(255, 255, 255); font-style: italic; text-align: center;">اعــــلان</h1>
    <h3 id="page-heading1" style="color: rgb(175, 255, 230); font-weight: 300; font-style: italic; text-align: center;">تطبيق حلاتي للدردشه الجديد</h3>
    <div id="page-markdown1" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">استمتع بدردشه نظيفه و غرف لكل البلدان العربيه و لا تنسي التقييم و التعليق من فضلك</p>
    </div>
    <a class="list card" style="display:block;text-decoration:none;" href-inappbrowser="https://goo.gl/bp0tHi" id="page-card23">
      <div class=" item item-image">
        <img src="img/1OMAyjtHRhuO5UVTTHIF_-min.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <ion-item class="item-icon-left item-icon-right assertive" id="page-list-item8" style="">
        <i class="icon ion-android-playstore"></i>تثبـــيت التطــــبيق
        <i class="icon ion-android-bookmark icon-accessory"></i>
      </ion-item>
      <div class="item item-body" id="page-list-item-container2" style="">
        <div id="page-markdown3" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#FFAA24;font-size:35px;">★ ★ ★ ★ ★ </p>
        </div>
      </div>
    </a>
  </ion-content>
</ion-view>